.results {
    padding: 35px 0 0 70px;

    .row {
        display: flex;
        text-align: center;
        position: relative;

        .phrase {
            flex-grow: 1;
            flex-basis: 0;
            max-width: 200px;
            background: #ef8e3e;
            margin: 10px;
            padding: 10px;
            height: 18px; // empty phrases
            position: relative;

            &:empty {
                display: none;
            }

            span {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            i {
                left: calc(50% - 11px);
                top: -45px;
            }
        }
    }

    i {
        cursor: pointer;
        position: absolute;
        font-size: 40px;
        top: 2px;

        &.delete {
            color: red;
            transform: rotate(45deg);
            left: -65px;
        }

        &.edit {
            color: green;
            left: -25px;
        }
    }
}